.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content {
    background-color: #414141;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 440px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.margin-class {
    margin-right: 10px;
    margin-left: 10px;
}
.content > img {
    max-height: 300px;
    max-width: 400px;
}

.button-container {
    display: flex;
    align-self: flex-end;
    margin: 5px;
}

.button-container > button {
    border: 0;
    padding: 5px;
    margin: 5px;
}

.content-text {
    margin: 10px;
}

.button-content {
    color: #414141;
}