<div class="container-fluid">
    <div class="blog-container">

        <div class="post-container" ng-if="!getPosts().length">
            <div class="content">
                <img src="https://placekitten.com/500/300" alt="" />
                <p class="content-text">Brak postów!</p>
            </div>
        </div>


        <div class="post-container" ng-repeat="post in getPosts() track by $index" ng-if="getPosts().length">
            <div class="content">
                <img src="{{post.url}}" alt="" />
                <p class="content-text">{{post.text}}</p>
                <div class="button-container">
                    <button class="button-content btn" ng-click="editPost(post)">Edytuj</button>
                    <button class="button-content btn" ng-click="removePost(index)">Usuń</button>
                </div>
            </div>
        </div>
    </div>
</div>