.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content {
    background-color: #9e3232;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 440px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

}

.margin-class {
    margin-right: 10px;
    margin-left: 10px;
}
.content > img {
    max-width: 400px;
}

.button-container {
    display: flex;
    align-self: flex-end;
    margin: 5px;
}
.content-text {
    margin: 10px;
}

.button-content {
    background-color: #0C0742;
}