<div class="container-fluid" ng-init="getApod()">
    <div class="loading-container" ng-if="loading">
        <img src="assets/loading.svg" alt="Loading..." width="50px" height="50px"/>
    </div>

    <div class="apod-container" ng-if="displayApod && !loading">
        <div class="apod" ng-click="openModal('add-new')">
            <div class="image-header">
                <p class="title">{{apod.title}}</p>
            </div>
            <img src={{apod.url}} alt="Dzisiejsze Astronomiczne Zdjęcie Dnia"/>
        </div>
        <input class="number-input" type="number" ng-model="imagesCount" ng-change="validateInput()" min="1" max="30" required>
        <button class="button-submit btn" type="submit" ng-click="getApods()" ng-disabled="!formValid">Wyświetl</button>
    </div>

    <div class="images-container" ng-if="!displayApod">
        <div class="image" ng-repeat="image in images track by $index" ng-if="image.media_type === 'image'">
            <div class="image-header">
                <p class="title">{{image.title}}</p>
            </div>
            <img src={{image.url}} alt={{image.title}}/>
        </div>
    </div>
</div>

<modal id="add-new">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" ng-model="vm.bodyText" />
            </p>
            <button ng-click="vm.closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
